.App {
  padding: 0;
}

a.inventory-partnum {
  text-decoration: none;
}

@media (min-width: 768px) { /* bootstrap 'md' breakpoint */
  .inventory-refpartnum, .inventory-numparts  {
    width: 1%;
    min-width: 13ch;
    white-space: nowrap;
  }

  .inventory-colors {
    width: 32%;
  }
}

@media (min-width: 992px) { /* bootstrap 'lg' breakpoint */
  .inventory-colors {
    width: 1%;
    min-width: 34ch;
  }
}

.inventory-refandnum, .inventory-refandnum-data {
  min-width: 10ch;
  max-width: 10ch;
}

.inventory-refandnum-data {
  word-wrap: break-word;
}

/* fixes menu being behind sticky table header:
 https://github.com/twbs/bootstrap/issues/31747 */
.dropdown-menu {
  z-index: 1100;
}
