<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

<link rel="icon" sizes="any" href="{{ "/app/logo.svg" | relative_url }}" type="image/svg" />
<link rel="icon" sizes="48x48" href="{{ "/app/favicon.png" | relative_url }}" type="image/png" />
<link rel="stylesheet" href="{{ "/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

</head>
<body>

<div class="root container-lg markdown-body">

<nav>
<span class="navbar-brand"><img class="navbar-logo" alt="Logo" src="{{ "/app/logo.svg" | relative_url }}"  width="40" height="40"> {{ site.title }}</span>
<div class="navbar-nav">
<a class="navbar-link {% if "/" == page.url %}active{% endif %}" href="{{ "/" | relative_url }}">Home</a>
<a class="navbar-link external" href="{{ "/app/" | relative_url }}">App</a>
<a class="navbar-link {% if "/script/" == page.url %}active{% endif %}" href="{{ "/script/" | relative_url }}">Script</a>
<a class="navbar-link {% if "/help/" == page.url %}active{% endif %}" href="{{ "/help/" | relative_url }}">Help</a>
</div>
</nav>

{{ content }}

</div>

<script src="{{ "/js/anchor.min.js" | relative_url }}"></script>
<script>anchors.add();</script>

</body>
</html>
