<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="icon" sizes="any" href="{{ "/app/logo.svg" | relative_url }}" type="image/svg" />
<link rel="icon" sizes="48x48" href="{{ "/app/favicon.png" | relative_url }}" type="image/png" />
<link rel="stylesheet" href="{{ "/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

{% seo %}

</head>
<body>

<div class="root container-lg p-5 markdown-body">

<h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
{{ content }}

</div>

<script src="{{ "/js/anchor.min.js" | relative_url }}"></script>
<script>anchors.add('h1:not(:first-child),h2,h3');</script>

</body>
</html>
